* {
	margin: 0px;
	/*	background-color: yellow;*/
}

.main {
	width: 90%;
	height: 200px;
	margin-left: 70px
}

.top {
	height: 100px;
	background-color: #f8f8f8;
	position: fixed;
	width: 90%;
}

.logo {
	float: left;
	margin-right: 10px
}

.logo:hover {
	cursor: pointer;
}

.leftt {
	background-color: ;
	padding: 20px;
	float: left
}

.button1 {
	padding: 10px;
	margin-right: 20px;
	float: right;
	font-size: 20px;
	font-weight: bold;
}

.button1:hover {
	text-decoration: underline;
	cursor: pointer;
}

.button2 {
	padding: 10px;
	margin-right: 20px;
	float: right;
	font-size: 20px;
	border: 1px solid red;
	width: 120px;
	text-align: center;
	border-radius: 20px;
	font-weight: bold;
	/*
	box-shadow: inset 0 0 0 0 #D80286;
	-webkit-transition: ease-out 0.4s;
	-moz-transition: ease-out 0.4s;
	transition: ease-out 0.4s;
*/
}

.button2:hover {
	background-color: red;
	color: white;
	cursor: pointer;
	/*	box-shadow: inset 0 100px 0 0 #D80286;*/
}

.text {
	font-size: 20px;
	float: left;
	padding: 10px;
	font-weight: bolder
}

.text:hover {
	cursor: pointer;
}

ol {
	list-style: none;
	padding: 10px
}

li {
	float: left;
	padding: 20px;
	background-color: ;
	font-size: 20px;
	color: gray
}

li:hover {
	color: black;
	cursor: pointer;
}

.centerr {
	margin-left: 300px
}

.mid {
	height: 500px;
	padding-top: 150px;
	/*	background-color: aqua;*/
}

.mid_left {
	width: 50%;
	/*	background-color: burlywood;*/
	height: inherit;
	text-align: justify;
	text-justify: inter-word;
	float: left
}

.mid_left_btn {
	background-color: red;
	color: white;
	width: 200px;
	font-size: 15px;
	text-align: center;
	margin-top: 20px;
	padding: 15px;
	border-radius: 10px;
	transition: ease all 0.5s;
	float: left;
}

.mid_left_btn:hover {
	box-shadow: 0px 10px 10px brown;
	transform: translateY(-1px);
	transition: ease all 0.5s;
	cursor: pointer;
}

.mid_rigth {
	height: inherit;
	background-size: 100px 100px;
	float: left;
}

.box {
	/*	background-color: darkgoldenrod;*/
	width: 100%;
	height: 400px;
}

.box1 {
	/*	background-color: antiquewhite;*/
	width: 32%;
	float: left;
	margin-right: 18px;
	height: 200px;
	border: 2px solid gray;
	border-radius: 20px;
}

.box2 {
	/*	background-color: pink;*/
	width: 32%;
	float: left;
	margin-right: 18px;
	height: 200px;
	border: 2px solid gray;
	border-radius: 20px;
}

.box3 {
	/*	background-color: orange;*/
	width: 32%;
	float: left;
	height: 200px;
	border: 2px solid gray;
	border-radius: 20px;
}

.pic {
	margin: 15px;
	float: left;
}

.N1 {
	margin: 20px;
	font-size: 15px;
	float: left;
}

.box_top {
	height: 90px
}

.star {
	/*	width: 10px;*/
	/*	background-color: yellow;*/
	float: right;
	margin: 22px;
	color: gold;
	font-size: 25px
}

.rating {
	float: right;
	margin-top: 25px;
	font-weight: bold
}

.comment {
	margin: 10px;
	font-size: 20px
}
.go_top{
	bottom: 20px;
	right: 20px;
	font-size: 20px;
	position: fixed;
	padding: 5px;
	width: 20px;
	text-align: center;
	background-color: red;
	border-radius: 50%;
/*	text-decoration: none;*/
}


